@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,400;1,900&display=swap');
/**
* Base Styling
*
*/
body{
	background-image: linear-gradient(to top right, #F2F9FC, #EFFBF8);
	font-family: 'Roboto', sans-serif;
	color: #484848;
	overflow-x: hidden;
}
main{
	margin-left: 270px;
	transition: margin-left ease-in-out 0.5s;
}
.main_toggle{
	margin-left: 0px;
	transition: margin-left ease-in-out 0.5s;
}

.primary-bg{
	background-color: #094159;
}
.secondary-bg{
	background-color: #20BF55;
}
.tertiary-bg{
	background-color: #C03737;
}

.ui.dashed{
	border-bottom: 1px dashed #DDDDDD;
}

.ui.secondary.pointing.menu .active.item, .ui.secondary.pointing.menu .active.item:hover{
	color: #094159;
}

.flex-container{
	display: flex;
}
.bolder{
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
}

.ui.blue.button, .ui.blue.button:hover{
	background-color: #094159;			
}

.ui.basic.blue.button, .ui.basic.blue.button:hover{
	color: #094159;
	-webkit-box-shadow: 0 0 0 1px #094159 inset;
    box-shadow: 0 0 0 1px #094159 inset;		
}


/**
* Navbar Styling
*
*/
.ui.menu{
	border-radius: 0px;
	width: 100%;
	height: 65px;
	background-color: #FBFBFF;
	box-shadow: none;
	border: 0px;
}
.ui.menu .item:before{
	background-color: transparent;
}
/* Navbar Brand*/
.ui.menu img{
	padding: 10px 5px 0px 15px;
	height: 55px;
	width: auto;
}
.ui.menu .content{
	padding: 20px;
	color: #394648;
	font-weight: bold;
	cursor: pointer;
}
.ui.menu .sub.header{
	color: #333;
	font-size: 0.8rem;
}
/* Navbar Dropdown*/
.ui.menu .item{
	color: #707070;
}
.ui.menu .dropdown.item:hover{
	background: transparent;
}
.ui.menu .dropdown.item .menu{
	border: 0px;
	border-radius: 0.28571429rem;
	box-shadow: 1px 1px 6px #DDD;  
}	

/*
*
* Details Display (new)
*
*/
.display_details{
	font-family: 'Roboto', sans-serif;
	color: #707070;
}
.display_details h2{
	display: block;
	font-family: 'Roboto', sans-serif;
	color: #20BF55;
	font-weight: 900;
	font-style: italic;
	font-size: 18px;
	margin-bottom: 0px;
}
.display_details .header{
	padding-bottom: 10px;
}
.display_details h3{
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	margin-bottom: 8px;
	margin-top: 15px;
}
.display_details p{
	font-weight: 400;
	margin-bottom: 5px;
}
.display_details .line{
	width: 70px;
	height: 2px;
	margin-bottom: 15px;
	background: linear-gradient(to top right, #20BF55, #01BAEF);
}
.ui.vertical.menu {
	width: auto;
	word-break: break-all;
}
.ui.vertical.menu .item.active, .ui.vertical.menu .item.active:hover{
	background-color: #094159;
	color: #01BAEF;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}
.ui.divider:not(.vertical):not(.horizontal){
	margin-top: 0px;
	border-top: 1px solid #094159;
	border-bottom: 0px;
	opacity: 0.2;
}
.ui.icon_btn{
	background-color: transparent;
	padding: 11px;
	padding-right: 3px;
}

/**
* Side Bar Styling
*
*/
.side_bar{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	color: #FFFFFF;
	width: 270px;
	background-color:#094159;
	transition: transform ease-in-out 0.5s;
}
.side_bar_toggle{
	transform: translate(-270px, 0px);
	transition: transform ease-in-out 0.5s;
}
.side_bar .brand{
	padding: 20px 15px 70px 15px;
}
.side_bar .brand img{
	width: 105px;
	height: auto;
}
.side_bar .item{
	font-size: 16px;
	opacity: 0.7;
	padding: 15px 25px;
	font-weight: 300;
	cursor: pointer;
}
.side_bar .item a, .side_bar .item a:hover{
	color: inherit;
}
.side_bar .item i{
	margin-right: 10px;
}
.side_bar .item.active{
	color: #20BF55;
	opacity: 1;
	font-weight: 500;
	border-left: 4px solid #20BF55;
	background-color: #093344;
}
.side_bar .item:hover{
	opacity: 1;
}


/**
* Main Content Styling
*
*/
.main_content_wrapper{
	padding: 15px 45px;
}

.ui.breadcrumb a,.ui.breadcrumb a:hover{
	color: #20BF55;
}


/*
* Widget Box Styling
*/

.widgets.two .widget{
	margin-bottom: 20px;
}
.widgets.three .widget{
	margin-bottom: 10px;
}
.widget {
	/*max-width: 350px;*/
	display: block;
	border-radius: 5px;
	box-shadow: 0px 0px 6px #DDDDDD;
	background-color: #FFFFFF;
}
.widget > .header{
	display: flex; 
	padding: 20px;
	font-weight: 500;
	font-size: 18px;
}
.widget .header .right{
	margin-left: auto; 
}
.widget .header.divided{
	border-bottom: 1px solid #EEEEEE;
}
.widget-wrapper{
	padding: 20px;
}

/* Widget Box Table*/
.widget .ui.celled.table>tbody>tr>td{
	border: 0px;
	padding-bottom: 10px;
	padding-top: 10px;
}
@media only screen and (max-width: 767.98px){
	.widget .ui.ui.ui.ui.table:not(.unstackable)>tbody>tr{
		-webkit-box-shadow: 0 0px 0 0 rgba(0,0,0,0) inset;
		box-shadow: none;
	}
}
.widget .ui.celled.table {
	background-color: transparent;
	border-radius: 0px;	
	border: 0px;
}

/* Widget Box Icon */
.icon-holder{
	display: flex;
	background-color: transparent;
}

.icon-holder i{
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFFFFF;
	border-radius: 50%;
	margin-right: 15px;
	height: 40px;
	width: 40px;
}


/* Widget Box List */
.widget > .ui.relaxed.list{
	margin-top: 0px;
	padding-bottom: 15px
}
.widget > .ui.relaxed.list .item{
	display: flex;
	padding-left: 15px;
}
.widget > .ui.relaxed.list .item .content{
	padding-left: 10px;
}

/* Timeline Styling */
.timeline-item{
	position: relative;
	padding-bottom: 10px;
	border-left: 2px solid #094159;
}
.timeline-item:after{
	content: '';
	position: absolute;
	top: 15px;
	left: -8px;
	width: 15px;
	height: 15px;
	border: 4px solid #20BF55;
	border-radius: 50%;
	background-color: #FFFFFF;
}
.timeline-item:last-child{
	padding-bottom: 0px;
}
.timeline-item::before{
	content: " ";
	height: 0;
	position: absolute;
	top: 13px;
	width: 0;
	z-index: 1;
	left: 7px;
	border: medium solid #F7F7F7; 
	border-width: 10px 10px 10px 0;
	border-color: transparent #F7F7F7 transparent transparent;
}

.timeline-item .content{
	margin-left: 17px;
	margin-bottom: 5px;
	padding: 10px;
	background-color: #F7F7F7;
	border-radius: 2px;
	box-shadow: 0px 0px 3px #DDDDDD inset;
}
.timeline-item .content h2{
	font-size: 17px;
}


.widget-banner img{
	width: 100%;
	clip-path: polygon(100% 0, 100% 52%, 50% 62%, 0 52%, 0% 0%);
	clip-path: ellipse(100% 77% at 50% -20%);
	border-radius: 5px;
}

.widget-banner em{
	position: absolute;
	top: 30px;
	left: 30px;
	color: #094159;
	background-color: rgba(255, 255, 255, 0.4);
	padding: 5px;
	border-radius: 2px;
	font-weight: bold;
	cursor: pointer;
}


/************ Profile *********/

.profile{
	margin-top: -12%;
	display: flex;
	flex-wrap: wrap;
	padding: 30px;
	align-items: center;
}

.profile .basic{
	flex-grow: 1;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.profile .pic{
	margin-right: 20px;
	width: 100px;
	height: 100px;
	position: relative;
}
.profile .pic a{
	position: absolute;
	top: 70px;
	left: 70px;
	width: 20px;
	background-color: #f5f5f7;
}
.profile .basic h2{
	margin-top: 0px;
}
.profile .basic em{
	color: #999999;
}
.profile .basic p{
	color: #777;
	font-style: italic;
}

.profile .icon-holder{
	display: flex;
	width: 300px;
	margin-bottom: 10px;
	align-items: center;
	word-break: break-all;
}
.profile .contact p, .profile .contact strong{
	font-size: 12px;
}

.profile .icon-holder:last-child{
	margin-bottom: 0px;
}

/* Remove  Margin*/
.profile .basic p, .profile .basic h2, .profile .basic em,
.profile .contact p, .profile .contact h3,
.timeline-item .content p, .timeline-item .content h2{
	margin-bottom: 0px;
}




/*********** Table Pagination ***********/
table .ui.pagination{
	padding: 10px;
	color: #333333;
	height: 40px;
}

table .ui.pagination .item{
	padding: 11px 20px;
	margin: 0px;
	color: #707070;
}

table .ui.pagination .active.item{
	background-color: #F2F2F2;
}

table .ui.pagination .disabled.item{
	color: #DDDDDD;
}

table .ui.pagination :hover{
	background-color: #F2F2F2;
}


/*********** Form Wrapper ***********/
.form_wrapper{
	background-color: #fff;
	padding: 40px;
	width: 400px;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
}
.form_base{
	text-align: center;
}
.form_wrapper h2, .form_wrapper label, .form_wrapper a{
	color: #707070;
}
.form_wrapper a, .form_wrapper label{
	font-style: italic;
}
.v-center{
	margin: 0;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}



/**
* Media Queries
*
*/
@media (max-width: 1200px){

	.profile .basic h2{
		font-size: 18px;
	}
	.profile .basic p, .profile .basic em{
		font-size: 13px;
	}
	.profile .icon-holder{
		width: 200px;
		word-break: break-all;
	}

	/* SideBar */
	.side_bar{
		width: 250px;
	}
	main{
		margin-left: 250px;
	}
	.side_bar_toggle{
		transform: translate(-250px, 0px);
	}
	.side_bar .brand img{
		width: 90px;
		height: auto;
	}

}
@media (max-width:992px){
	.profile{
		margin-top: 120px;
		justify-content: center;
	}
	.profile .basic{
		justify-content: center;
	}
	.profile .contact{
		margin-top: 20px;
	}
	.profile .icon-holder{
		flex-grow: 1;
		flex-basis: 0;
		display: inline-flex;
	}
	.widget-banner{
		margin-bottom: -150px;
	}
	.widget-banner img{
		clip-path: ellipse(100% 77% at 50% 20%);
	}

	/* SideBar */
	.side_bar{
		width: 200px;
	}
	main{
		margin-left: 200px;
	}
	.side_bar_toggle{
		transform: translate(-200px, 0px);
	}
	.side_bar .brand img{
		width: 90px;
		height: auto;
	}

}
@media (max-width:768px){

	.profile .basic, .profile .college, .profile .contact{
		margin-bottom: 20px;
	}
}
@media (max-width:460px){
	.ui.menu img{
		padding: 10px 5px 0px 15px;
		height: 55px;
	}
	.ui.menu .content{
		padding: 15px 5px 0px 0px;
		font-size: 0.8rem;
	}
	.ui.menu .sub.header{
		margin-top: -5px;
		font-size: 0.6rem;
	}
}
@media (max-width:376px){
	.ui.menu img{
		padding: 15px 5px 0px 15px;
		height: 50px;
	}
	.ui.menu .content{
		padding: 10px 5px 0px 0px;
		font-size: 0.8rem;
	}
	.ui.menu .sub.header{
		margin-top: -5px;
		font-size: 0.6rem;
	}
}




